@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}
article {
    padding-top: 100px;
    width: 944px;
    margin: 0 auto;
    /* background-color: rgb(241, 248, 228); */
}

section {
    width: 944px;
    margin: 20px auto;
    padding: 10px 0;
}

header {
    position: fixed;
    background-color: #fff;
    width: 1024px;
    border-bottom: .5px solid rgb(201, 199, 199);
    box-shadow: 0 5px 10px -5px rgb(201, 199, 199);
    height: 50px;
    /* z-index: 10; */
}


.header-left {
    float: left;
}
.header-left img {
    width: 90px;
    padding-left: 10px;
}
.header-right {
    float: right;
}
nav li {
    float: left;
    list-style-type: none;
    padding: 10px;
    line-height: 40px;
    /* color: inherit; */
}

nav li a {
    color: inherit;
    text-decoration: none;
}
.line {
    border-top: 1px dotted rgb(151, 197, 145);
}

.home {
    clear: both;
    width: 944px;
    text-align: center;
    /* margin-right: 40px; */
    }

.home img {
    width: 250px;
    height: auto;
    float: right;
    border: .5px solid rgb(151, 197, 145);
}

.home p {
    float: left;
    margin-top: 20px;
    /* margin-left: 40px; */
}

.about {
    clear: both;
    width: 944px;
    text-align: center;
    margin-right: 40px;
}
.about p { 
    float: left;
    margin-top: 20px;
}

.bottom_space {
    margin-bottom: 5px;
    
}

.about img {
    width: 250px;
    height: auto;
    float: right;
    border: .5px solid rgb(35, 63, 31);
    /* float: left; */
    /* display: inline; */
}
h1, h2 {
    clear: both;
    margin: 20px 40px;
    font-family: serif;
    padding: 50px 0;
    line-height: 1em;
    text-align: center;
}

.work_garden img {
    /* height: 400px; */
    width: 250px;
    height: auto;
    float: right;
    border: .5px solid rgb(151, 197, 145);
    /* margin-right: 20px; */
}


.flex-container {
    display: flex;
    /* float: right; */
}
.tama_img {
    clear: both;
    width: 250px;
    height: 200px;
}
.each_project {
    clear: both;
    margin: 40px 0;
}
.work_previous img {
    width: 250px;
    margin-right: 20px;
    border: .5px solid rgb(151, 197, 145);
}

p {
    text-align: justify;
    width: 385px;
    margin-top: 20px;
    margin-right: 35px;
    float: left;
    }

.project_exp {
    float: left;
    margin: 10px auto;
}

.clear {
    clear: both;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
} 

h3 {
    padding: 30px 10px;
    font-family: serif;
    text-align: left;   
}

.lago_exp {
    float: left;
    margin: 10px auto;
}
.lago_img {
    
    width: 250px;
    height: auto;
    float: right;
    border: .5px solid rgb(151, 197, 145);
}

.skills ul {
    clear: both;
    text-align: left;
    margin-right: 20px;
    width: 385px;
}
.skills ul li {
    margin-left: 20px;
    display: block;
}
.sketchup {
    /* float: left; */
    /* width: 570px; */
    text-align: right;
    /* background-color: aquamarine; */
}
.skills img {
    width: 250px;
    margin-right: 20px;
    border: .5px solid rgb(151, 197, 145);
    /* float: left; */
}

.sketch_container {
    display: flex;
    flex-wrap: wrap;
    width: 520px;
    justify-content: flex-end;
    /* flex-direction: column; */
}
.flex-container_sketch {
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 20px 0;
}
.mailaddress input {
    /* display: block; */
    margin: 0 auto;
}
.mailaddress label {
    display: inline;
    margin: 0 auto;
    color: #fff;

}
#contactform {
    width: 800px;
    margin: 0 auto;

}
.contact p {
    width: 800px;
    margin: 0 auto;
}

dl dt {
    float: left;
    text-align: right;
    /* margin-left: 240px; */
    margin-top: 20px;
    width: 390px;
}
dl dd {
    float: right;
    text-align: left;
    /* margin-right: 240px; */
    margin-top: 20px;
    width: 390px;
}
button {
    display: block;
    padding: 3px 10px;
    font-size: .9em;
    background-color: rgb(242, 250, 241);
    cursor: pointer;
    border-radius: 5px;
    margin: 30px auto;
    color: rgb(3, 128, 24);
    border: 1px solid rgb(3, 128, 24);
    /* border-style: dotted; */
    box-shadow: 0 0 2px rgb(179, 174, 174);
}
button:hover {
    opacity: .5;
}

button:active {
    color: red;
}

#contactform a {
    float: left;
}

footer {
    width: 100%;
    background-color: rgb(151, 197, 145);
    color: #fff;
    text-align: center;
    padding: 5px;
}
.tweet {
    width: 200px;
    text-align: right;
    padding: 30px 0;
}

#topic_path {
    padding-right: 10px;
    
    /* margin: 20px 0 10px; */
    text-align: right;
    line-height: 50px;
    
}
#topic_path li {
    list-style-type: none;
    display: inline;
   
}
#topic_path li:after {
    pad: 0 10px;
    content: "\003E"
}
#topic_path li:last-child:after {
    content: none;
}

